[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pep8 = "*"
flake8 = "*"

[packages]
requests = "*"
regex = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
